/*

Fonts Added:

Futura PT Book
font-family: "futura-pt", sans-serif;
font-weight: 400;
font-style: normal;
Futura PT Book Oblique
font-family: "futura-pt", sans-serif;
font-weight: 400;
font-style: italic;
Futura PT Heavy
font-family: "futura-pt", sans-serif;
font-weight: 700;
font-style: normal;
Futura PT Heavy Oblique
font-family: "futura-pt", sans-serif;
font-weight: 700;
font-style: italic;
Futura PT Bold
font-family: "futura-pt-bold", sans-serif;
font-weight: 700;
font-style: normal;
Futura PT Bold Oblique
font-family: "futura-pt-bold", sans-serif;
font-weight: 700;
font-style: italic;
*/

:root {
/* typography */
    --fs-base: 1rem;
    
/* colors */
    --primary-color: #EB9AB0;
    --secondary-color: #5A4037;
    --accent-color: #CFFBFA;
    --neutral-lt-color: #FFFCF5;

/* helper */
    --spacer: 1rem;
    --spacer-dbl: calc(var(--spacer)*2);
    --shadow: 0 0 6px rgba(0,0,0,.3);
}
html {
    font-size: 10px;
    font-family: "futura-pt", sans-serif;
}
/* ************* FOOTER ************ */
footer {
    background-color: var(--primary-color);
    color: var(--neutral-lt-color);
    width: 100%;
    justify-items: center;
    font-size: var(--fs-base);
    padding: var(--spacer) 0 var(--spacer-dbl);
}
.socialContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social {
    font-size: 2rem;
}
footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--neutral-lt-color);
    background-color: rgba(255,255,255,.2);
    border: solid 1px var(--neutral-lt-color);
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.locations {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--spacer);
    text-align: center;
    padding-bottom: var(--spacer);
}
.left {
    max-width: 8em;
}
.right {
    max-width: 8em;
}
footer li {
    margin: var(--spacer);
    line-height: 1.6;
}
