/*

Fonts Added:

Futura PT light
font-family: "futura-pt", sans-serif;
font-weight: 300;
font-style: normal;

Futura PT light oblique
font-family: "futura-pt", sans-serif;
font-weight: 300;
font-style: italic;

Futura PT Book
font-family: "futura-pt", sans-serif;
font-weight: 400;
font-style: normal;

Futura PT Book Oblique
font-family: "futura-pt", sans-serif;
font-weight: 400;
font-style: italic;

Futura PT Medium
font-family: "futura-pt", sans-serif;
font-weight: 500;
font-style: normal;

Futura PT Medium Oblique
font-family: "futura-pt", sans-serif;
font-weight: 500;
font-style: italic;

Futura PT Demi
font-family: "futura-pt", sans-serif;
font-weight: 600;
font-style: normal;

Futura PT Demi Oblique
font-family: "futura-pt", sans-serif;
font-weight: 600;
font-style: italic;

Futura PT Heavy
font-family: "futura-pt", sans-serif;
font-weight: 700;
font-style: normal;

Futura PT Heavy Oblique
font-family: "futura-pt", sans-serif;
font-weight: 700;
font-style: italic;

Futura PT Bold
font-family: "futura-pt-bold", sans-serif;
font-weight: 700;
font-style: normal;

Futura PT Bold Oblique
font-family: "futura-pt-bold", sans-serif;
font-weight: 700;
font-style: italic;

.merriweather-light {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: normal;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.merriweather-bold {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: normal;
}

.merriweather-black {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: normal;
}

.merriweather-light-italic {
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
}

.merriweather-regular-italic {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

.merriweather-bold-italic {
  font-family: "Merriweather", serif;
  font-weight: 700;
  font-style: italic;
}

.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
}

*/

:root {
/* typography */
    --primary-font: "futura-pt", sans-serif;
    --headline-font: "Merriweather", serif;
    --fw-b: 700;
    --fs-base: 1rem;
    
/* colors */
    --primary-color: #EB9AB0;
    --secondary-color: #5A4037;
    --accent-color: #CFFBFA;
    --neutral-lt-color: #FFFCF5;

/* helper */
    --spacer: 1rem;
    --spacer-dbl: calc(var(--spacer)*2);
    --shadow: 0 0 6px rgba(0,0,0,.3);
}
html {
    font-size: 10px;
    font-family: var(--primary-font);   
}
 
h1 {
    font-size: 2.2em;
}
    
h2 {
    color: #5A4037;
    font-size: 2em;
    font-weight: 700;
    
}
h3 {
    color: #5A4037;
    font-size: 1.8em;
    font-weight: 700;
}
h4 {
    color: #5A4037;
    font-size: 1.7em;
    font-weight: 700;
    
}
h5 {
    color: #5A4037;
    font-size: 1.6em;
    font-weight: 700;
    
}
p {
    font-size: 1.6em;
    line-height: 1.5em;
}
.miniNav {
    color: black;
    font-size: 8px;
    margin-left: 10px;
    padding-top: 10px;
}

/* *********** NAVIGATION *********** */
nav {
    position: absolute;
    width: 100%;
    background-color: var(--primary-color);
    color: var(--neutral-lt-color);
    justify-content: space-between;
}
nav ul.menu {
    font-size: var(--fs-base);
    display: none;
}
nav li {
    background-color: var(--primary-color);
    text-align: center;
    border-bottom: solid 1px #fff;
}
nav li:first-child {
    border-top: solid 1px #fff;
}
nav a {
    display: block;
    padding: .6em;
    color: var(--neutral-lt-color);
    text-decoration: none;
}
nav a:hover {
    background-color: var(--neutral-lt-color);
    color: var(--primary-color);
}
nav a:active {
    background-color: var(--neutral-lt-color);
    color: var(--primary-color);
}
.showMenu {
    background-color: var(--primary-color);
    color: var(--neutral-lt-color);
    text-align: left;
    padding: 1.44rem .8rem .8rem;
    display: block;
    cursor: pointer;
    font-size: 2.24rem;
    height: 36px;
    padding-top: 8px;
    align-self: flex-start;
}
.fa-solid fa-chevron-down {
    font-size: 1.6rem;
}
nav input[type=checkbox]:checked ~ ul.menu {
    display: block;
}
nav input[type=checkbox] {
    display: none;
}
nav #logo {
    position: absolute;
    right: .6rem;
    top: .8rem;
    display: flex;
    align-items: center;
    gap: .6rem;
    font-family: var(--headline-font);
    font-style: italic;
    font-weight: 300;
    padding: 0;
}
nav img {
    height: 22px;
    width: 22px;
}



/* ************* FOOTER ************ */
footer {
    background-color: var(--primary-color);
    color: var(--neutral-lt-color);
    width: 100%;
    justify-items: center;
    font-size: 1.6rem;
    padding: .96rem 0 1.6rem 0;
}
.socialContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social {
    font-size: 2.56rem;
}
footer a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--neutral-lt-color);
    background-color: rgba(255,255,255,.2);
    border: solid 1px var(--neutral-lt-color);
    border-radius: 50%;
    width: 45px;
    height: 45px;
}

.locations {
    display: flex;
    justify-content: center;
    text-align: center;
}
.left, .right {
    max-width: 8em;
}
footer li {
    margin: 1.6rem;
    line-height: 1.6;
}
footer p {
    font-size: 1.28rem;
    text-align: center; }


/*about us page start*/

header.aboutUs {
    background-color: #CFFBFA;
    padding: 30px 0;
    color: #5A4037;
}

header.aboutUs section.sect2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 25px;
    text-align: center;
    
}
header.aboutUs img {
    max-width: 70%;
    height: auto;
    margin: auto;
    border: solid #EB9AB0 3px;
}
header.aboutUs section.sect2 p {
  max-width: 70%;
  text-align: left;
  margin: auto;

}

main.aboutUs  {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    grid-row-gap: 25px;
    padding: 25px 0;
    color: #5A4037;
}
  
main.aboutUs article {
    border-bottom: solid #EB9AB0 1px;
    margin: 0 25px;
    padding: 25px 0;
}

main.aboutUs img {
    max-width: 70%;
    height: auto;
    margin: auto;
    border: solid #EB9AB0 3px;
}
main.aboutUs p {
    max-width: 75%;
    text-align: left;
    margin: auto;
    padding-top: 25px;
}
/*about us page end*/

/*contact page*/
header.contact {
    background-image: url(../images/contactHeader.jpeg);
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: 200px;
    padding-top: 30px;
}

header.contact h2 {
    text-align: center;
    padding-top: 30px;
    font-size: 2.2em;
}

main.contact {
    padding: 30px 0;
    max-width: 70%;
    margin: auto;
}
main.contact form {
    font-size: 1.6em;
    color: var(--secondary-color);
    
}
main.contact fieldset {
    border: dashed 1px var(--primary-color);
    padding: 10px;
    margin-bottom: 10px;
}
.yourInfo li {
    padding-bottom: 5px;
}
.radioList {
    padding-bottom: 5px;
}
.locationForm li{
    padding-bottom: 5px;
}
main.contact legend {
    font-weight: 700;
}
main.contact h3 {
    padding: 20px 0 10px;
}
main.contact p {
    color: var(--secondary-color);
}
main.contact input#submit {
    background-color: var(--accent-color);
    color: var(--primary-color);
    font-weight: 700;
    padding: 5px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-color: transparent;
}

/*policies page start*/
header.policies {
    padding-top: 30px;
}
header.policies h2 {
    text-align: center;
    padding-bottom: 20px;
}
main.policies {
    max-width: 70%;
    margin: auto;
}
main.policies section {
    padding: 20px 0;
}
main.policies h3 {
    padding-bottom: 15px;
}
main.policies p {
    color: #5A4037;
    padding: 10px 0 25px;
}

/*policies page end*/